.content img {
  display: block;
  max-width: 100% !important;  
}

.content figure {
  display: block;
  max-width: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.content figure>img {
  display: block;
  max-width: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}